.main-background {
  background: linear-gradient(135deg, rgb(10, 143, 21), rgb(9, 63, 13), rgb(5, 34, 7), rgb(0, 0, 0), rgb(0, 0, 0));
}

.arrow-button {
  width: 70px;
}

.arrow-buttons {
  width: 210px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.accordion {
  max-height: 30rem;
  width: 30rem;
  overflow: auto;
}

/* Scrollbar styling */
.accordion::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.accordion::-webkit-scrollbar-track {
  border-radius: 6px;
  background: linear-gradient(to bottom, #eb1414, #3781d4); /* Gradient background of the scrollbar track */
}

.accordion::-webkit-scrollbar-thumb {
  background: #3781d4; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.accordion::-webkit-scrollbar-thumb:hover {
  background: #1c7cb4; /* Color of the scrollbar thumb on hover */
}


.accordion-wrapper {
  display: flex;
  height: 80vh;
}

.accordion-wrapper-top {
  justify-content: center;
}

.accordion-wrapper-left {
  justify-content: flex-start;
  align-items: center;
}

.accordion-wrapper-bottom {
  justify-content: center;
  align-items: flex-end;
}

.accordion-wrapper-right {
  justify-content: flex-end;
  align-items: center;
}
