.main-background {
  background: linear-gradient(135deg, rgb(80, 80, 80), rgb(94, 94, 94), rgb(113, 101, 133));
}

.arrow-button {
  width: 70px;
}

.arrow-buttons {
  width: 210px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.accordion {
  max-height: 30rem;
  width: 30rem;
  overflow: auto;
}

.accordion::-webkit-scrollbar {
  width: 12px;
}

.accordion::-webkit-scrollbar-track {
  border-radius: 6px;
  background: linear-gradient(to bottom, #ffffff, #8d8d8d, #ffffff); 
}

.accordion::-webkit-scrollbar-thumb {
  background: #E5F7F9; 
  border-radius: 6px; 
}

.accordion::-webkit-scrollbar-thumb:hover {
  background: #d8fbff; 
}


.accordion-wrapper {
  display: flex;
  height: 80vh;
}

.accordion-wrapper-top {
  justify-content: center;
}

.accordion-wrapper-left {
  justify-content: flex-start;
  align-items: center;
}

.accordion-wrapper-bottom {
  justify-content: center;
  align-items: flex-end;
}

.accordion-wrapper-right {
  justify-content: flex-end;
  align-items: center;
}
